section {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 50px 0;

  form {
    width: 40%;
  }
}

textarea {
  height: 100px;
}

.submit {
  display: flex;
  justify-content: end;
}

@media (max-width: 768px) {
  section {
    form {
      width: 90%;
    }
  }
}

.register {
  display: flex;
  margin-right: 50px;
  gap: 50px;
}
